body{
    background-image: linear-gradient(powderblue, grey);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.outbox{
    border-style: ridge;
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 1px 1px peru;
}

p{
    text-align: left;
    text-indent: 15px;
    font-weight: bold;
    font-size: 30px;
}

.box{
    padding: 15px;
    text-align: center;
    
}

.submit{
    padding: 15px;
    text-align: center;

}

input{
    width: 240px;
    height: 30px;
}

ul{
    box-shadow: grey 0px 5px 0px 0px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: wheat
}

li{
    float: left;
    display: inline;
    padding: 10px;
}

li a{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

.button {
    font: bold 16px Arial;
    text-decoration: none;
    background-color:blue;
    color: white;
    padding: 12px 20px 12px 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.social {
    padding: 5px 0px 15px 0px ;
    margin: 5px;
    text-align: center;
}

input::placeholder {
    font-size: 10px;
    text-indent: 8px;
}